:host mat-horizontal-stepper{
    width: 100%;
}

:host mat-form-field {
    width: 100%;
    // padding:1px !important;
    // padding: 20px;
}

// .content{
//     border:1px solid;
//     margin: 20px;
// }

.start{
    padding: 5px ;
    display: flex;
    flex-direction: row;
    background-color: #005691;
    border-radius:50%;
  
}

.editform-toolbar{
    margin-bottom: 5px;
}

.editform-toolbar > button{
    margin-right: 2px;
}

#wfdesigner{
    background-color: white;
}

.style
{
    background-image:"./assets" ;
}