<div class="dialog-header">
    <h2 mat-dialog-title>{{'StationDetail.Title'|translate}}</h2>
    <button mat-icon-button class="close-button" (click)="dialogRef.close()">
        <i class="Bosch-Ic Bosch-Ic-abort"></i>
    </button>
</div>
<form [formGroup]="form">
    <mat-dialog-content>
        <div class="grid-container-2">
            <mat-form-field>
                <input [(ngModel)]="station.Code" matInput formControlName="Code" [placeholder]="'StationDetail.Code'|translate">
                <mat-error *ngIf="form.hasError('required',['Code'])">{{'StationDetail.CodeRequired'|translate}}</mat-error>
                <mat-error *ngIf="form.hasError('maxlength',['Code'])">{{'StationDetail.CodeExceedMaxLength'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input [(ngModel)]="station.Name" matInput formControlName="Name" [placeholder]="'StationDetail.Name'|translate">
                <mat-error *ngIf="form.hasError('required',['Name'])">{{'StationDetail.NameRequired'|translate}}</mat-error>
                <mat-error *ngIf="form.hasError('maxlength',['Name'])">{{'StationDetail.NameExceedMaxLength'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="station.PlantId" placeholder="{{'StationDetail.Plant'|translate}}" formControlName="PlantId" (selectionChange)='onChangePlant($event)'>
                    <mat-option *ngFor="let plant of plants" [value]="plant.Id">{{plant.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required',['PlantId'])">{{'StationDetail.PlantRequired'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="station.AreaId" placeholder="{{'StationDetail.Area'|translate}}" formControlName="AreaId" (selectionChange)='onChangeArea($event)'>
                    <mat-option *ngFor="let area of areas" [value]="area.Id">{{area.AreaName}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required',['AreaId'])">{{'StationDetail.AreaRequired'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="station.ValueStreamId" placeholder="{{'StationDetail.ValueStream'|translate}}" formControlName="ValueStreamId"
                    (selectionChange)='onChangeValueStream($event)'>
                    <mat-option *ngFor="let valueStream of valueStreams" [value]="valueStream.Id">{{valueStream.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required',['ValueStreamId'])">{{'StationDetail.ValueStreamRequired'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-select [(ngModel)]="station.LineId" placeholder="{{'StationDetail.Line'|translate}}" formControlName="LineId">
                    <mat-option *ngFor="let line of lines" [value]="line.Id">{{line.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required',['LineId'])">{{'StationDetail.LineRequired'|translate}}</mat-error>
            </mat-form-field>

            <mat-form-field id="status">
                <mat-select [(ngModel)]="station.Status" placeholder="{{'LineDetail.Status'|translate}}" formControlName="Status">
                    <mat-option *ngFor="let status of statuses" [value]="status.Id">{{status.Name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.hasError('required',['Status'])">{{'StationDetail.StatusRequired'|translate}}</mat-error>
            </mat-form-field>

        </div>

        <div class="grid-container-1">
            <mat-form-field>
                <textarea matInput [(ngModel)]="station.Description" formControlName="Description" [placeholder]="'Common.Description'|translate"></textarea>
                <mat-error *ngIf="form.hasError('maxlength',['Description'])">{{'Validator.MaxLength1000'|translate}}</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="primary-actions">
            <button mat-raised-button type="submit" (click)="save()">{{'Common.Save'|translate}}</button>
            <button mat-button type="button" (click)="dialogRef.close()">{{'Common.Cancel'|translate}}</button>
        </div>
    </mat-dialog-actions>
</form>