.mat-column-actions{
    min-width: 180px;
} 

.mat-column-version
{
    min-width: 200px;
}

.mat-column-lastupdatedtime
{
    min-width: 110px;
}

.import-button
{
    line-height: 46.5px !important;
}