.snack-bar-layout{
  padding: 10px 5px 0px 10px;
}
.snack-bar-layout p{
  margin: 0 0 15px 0;
  font-weight: bold;
  padding-left: 40px;
}
.snack-bar-button{
  position: absolute;
  right: 0;
  top: 0;
}
.error-icon{
  color: red;
  position: relative;
  float: left;
  margin-top: -5px;
}
