.calendar-container {
  margin: 15px 30px 15px;
}

.calendar-tooltip {
  margin-top: 5px;

  .title {
    text-align: left;
  }

  .action {
    margin-top: 5px;
  }

  dx-button {
    margin-left: 10px;
  }
}

ul {
  li {
    list-style: none;
    display: inline-block;
    width: 50px;
    height: 15px;
  }

  .hadDone {
    background-color: #56CA85;
  }

  .notDone {
    background-color: #FF9747;
  }

  .expired {
    background-color: #FF0000;
  }
}

