  .editform-toolbar {
    padding:20px 20px 0px 20px;
    margin-bottom: 10px; 
  }

  .editform-toolbar>button {
    margin-right: 10px;
    // padding:20px;
  }

  #wfdesigner {
    background-color: white;
  }