:host mat-form-field{
    margin: 0 0 0 5%
}

:host button{
    margin: 0 0 0 10%
}

:host .select{
    width: 90%
}

button.mat-icon-button {
    margin: 0 0 0 5px;
    width: 10px;
}

#mail {
    margin-left: 80px;
}

#phoneNo {
    margin-left: 80px;
}

#status {
    margin-left: 80px;
}