<div class="dialog-header">
  <h2 mat-dialog-title>{{'TpmPlanDetails.DetailTitle'|translate}}</h2>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <i class="Bosch-Ic Bosch-Ic-abort"></i>
  </button>
</div>
<mat-dialog-content>
  <div>
    <table>
      <th class="tablepadding">
        <label class="labelText">{{'TpmPlanDetails.Version'|translate}}：</label>
        <span>{{tpmPlanModel.Version}}</span>
      </th>
      <th class="tablepadding"><label class="labelText">{{'TpmPlanDetails.IssueDate'|translate}}：</label>
        <span>{{tpmPlanModel.IssueDate| date: 'yyyy-MM-dd HH:mm:ss'}}</span></th>
      <th class="tablepadding"><label class="labelText">{{'TpmPlanDetails.Area'|translate}}：</label>
        <span>{{tpmPlanModel.Area}}</span></th>
      <th class="tablepadding"><label class="labelText">{{'TpmPlanDetails.Line'|translate}}：</label>
        <span>{{tpmPlanModel.Line}}</span></th>
      <th class="tablepadding"><label class="labelText">{{'TpmPlanDetails.Device'|translate}}：</label>
        <span>{{tpmPlanModel.DeviceName}}</span></th>
    </table>
  </div>
  <br />
  <div>
    <mat-table #table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{'TpmPlanDetails.Description'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="overflow-cell" matTooltip="{{row.Description}}" matTooltipPosition="above">{{row.Description}}
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="nexttime">
        <mat-header-cell *matHeaderCellDef>{{'TpmPlanDetails.NextTime'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.NextTime| date: 'yyyy-MM-dd'}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef>{{'TpmPlanDetails.Cost'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.Cost }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="interval">
        <mat-header-cell *matHeaderCellDef>{{'TpmPlanDetails.Interval'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.Interval }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="doby">
        <mat-header-cell *matHeaderCellDef>{{'TpmPlanDetails.DoBy'|translate}}</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.DoBy }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="add()">
            <mat-icon fontIcon="Bosch-Ic-add"></mat-icon>
          </button>
        </mat-header-cell>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="edit(row)">
            <mat-icon fontIcon="Bosch-Ic-edit"></mat-icon>
          </button>
          <button mat-icon-button (click)="remove(row.Id)">
            <mat-icon fontIcon="Bosch-Ic-delete"></mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayColumns">
      </mat-header-row>
      <mat-row *matRowDef="let row ; columns:displayColumns"></mat-row>
    </mat-table>
    <mat-paginator (page)="changePage($event)" [length]="totalCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
  <div>
  </div>
</mat-dialog-content>
<!--  <mat-dialog-actions>
    <div class="primary-actions">
      <button mat-raised-button type="submit" (click)="save()">{{'Common.Save'|translate}}</button>
      <button mat-button type="button" (click)="dialogRef.close()">{{'Common.Cancel'|translate}}</button>
    </div>
  </mat-dialog-actions>-->