.grid-container-4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:5px;
}
.grid-container-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:5px;
}
.grid-container-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:5px;
}
.mat-form-field-width{
    width: 100%;
}
.modal__content,dialog-layout,mat-dialog-container,.mat-dialog-container,#cdk-overlay-0,.cdk-overlay-pane {
    z-index: 9999 !important;
}
mat-checkbox{
    display: inline-block;
    margin: 2% 2% 0 0 ;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-style: none!important;
}

.readonlyColor{
        color: #141415 !important;
}