<div style="height: 100%">
  <div class="bg-img-container">
    <div class="container">
      <div class="form">
        <h2>Change Password</h2>
        <form [formGroup]="form" *ngIf="model" (submit)="form.valid && changepassword()" novalidate>
          <div>
            <mat-form-field>
              <input matInput placeholder="UserName" [(ngModel)]="model.Name" formControlName="UserName" readonly="readonly" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="password" matInput placeholder="Old Password" formControlName="OldPassword" [(ngModel)]="model.OldPassword"
              />
              <mat-error *ngIf="form.hasError('required',['OldPassword'])">Old password is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="password" matInput placeholder="New Password" formControlName="NewPassword" [(ngModel)]="model.NewPassword"
              />
              <mat-error *ngIf="form.hasError('required',['NewPassword'])">New password is required</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input type="password" matInput placeholder="Confirm Password" formControlName="ConfirmPassword" [(ngModel)]="model.ConfirmPassword"
              />
              <mat-error *ngIf="form.hasError('required',['ConfirmPassword'])">Confirm password is required</mat-error>
              <mat-error *ngIf="form.hasError('confirmPassword',['ConfirmPassword'])">The passwords are not equal.</mat-error>
            </mat-form-field>
          </div>
          <div>
            <button type="submit" mat-raised-button >Confirm</button>
            <button type="button" mat-button (click)="back()">Back</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>